.app {
  display: flex;
  padding: 20px;
  // background-color: #111315;

  .toggle__btn {
    position: absolute;
    left: 140px;
    top: 60px;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 6px;
      border: 1px solid grey;
      width: 50px;
      display: flex;
      align-items: center;

      span {
        .icon {
          font-size: 12px;
          margin-top: 2px;
        }
      }
      .left {
        // position: absolute;
        margin-left: 25px;
        // margin-top:2px;
      }
    }
  }
}
